@import "../global";

.single-page {
    padding-top: 30px;
    height: calc(100vh - 85px);
    overflow: auto;
    .inner-con {
        background-color: #fff;
        padding: 20px 20px 0px;
        border-radius: 10px;
        position: relative;
        height: calc(100% - 30px);
        .overflow-y-custom {
            overflow-y: auto;
            height: calc(100% - 50px);
            ::-webkit-scrollbar {
                display: none;
            }
        }
        .profile-left-side-con {
            max-height: 100%;
            overflow: auto;
            .profile-details-top {
                display: flex;
                align-items: center;
                .single-profile-img {
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    filter: drop-shadow(3px 7px 10px rgba(7, 77, 209, 0.25));
                    display: inline-block;
                    object-fit: cover;
                    margin-right: 20px;
                }
                .name-listing {
                    .name-heading {
                        font-weight: 600;
                        font-size: 32px;
                        color: #000000;
                    }
                    .select-listing {
                        & ~ .select2.select2-container {
                            min-width: 160px !important;
                            .select2-selection {
                                border: 0px;
                                .select2-selection__rendered {
                                    background-color: #0fb2f8;
                                    color: #fff;
                                    padding: 0px 15px;
                                    border-radius: 15px;
                                }

                                .select2-selection__arrow b {
                                    border-color: #fff transparent transparent;
                                }
                            }
                        }
                    }
                }
            }
            .profile-details-bottom {
                margin-top: 45px;
                .row2 {
                    width: 100%;
                    display: flex;
                    margin-top: 25px;
                    justify-content: space-between;
                    .left {
                        width: 30%;
                        font-weight: 500;
                        font-size: 20px;
                        color: #7c7c7c;
                        display: flex;
                        align-items: center;
                        padding-left: 15px;
                    }
                    .right {
                        width: 60%;
                        margin-right: 10%;
                        .select-db-list {
                            select {
                                display: none;
                            }
                            .select2 {
                                width: 100% !important;
                                .selection {
                                    .select2-selection {
                                        height: auto;
                                        border: none;
                                        .select2-selection__rendered {
                                            border: 1px solid rgba(7, 77, 209, 0.1);
                                            color: #979797;
                                            background-color: #fff;
                                            padding: 10px 35px 10px 10px;
                                            font-size: 16px;
                                            font-weight: 500;
                                            user-select: none;
                                            line-height: 22px;
                                            border-radius: 5px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .select2-selection__arrow {
                                    background: url("./../img/arrow.png") no-repeat center;
                                    top: 50%;
                                    right: 20px;
                                    transform: translateY(-50%);
                                    b {
                                        border: none;
                                    }
                                }
                            }
                        }
                        input,
                        textarea {
                            width: 100%;
                            border: 1px solid rgba(7, 77, 209, 0.1);
                            background-color: #fff;
                            padding: 10px;
                            padding-right: 20px;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22px;
                            border-radius: 5px;
                            color: #979797;
                            &::placeholder {
                                color: #979797;
                                font-weight: 400;
                            }
                            &.week {
                                color: red;
                            }
                        }
                        .redio-box {
                            display: flex;
                            justify-content: end;
                            input[type="radio"] {
                                display: none;
                                & + label {
                                    background-color: #edf2f6;
                                    border: 0.5px solid rgba(0, 0, 0, 0.475);
                                    border-radius: 5px;
                                    padding: 10px 15px;
                                    margin: 0px 15px;
                                    display: inline-block;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: $mainColor;
                                        color: #fff;
                                    }
                                }
                                &:checked {
                                    & + label {
                                        background-color: $mainColor !important;
                                        color: #fff;
                                    }
                                }
                            }
                            &.prospects {
                                justify-content: space-around;
                                border: 0.5px solid rgba(0, 0, 0, 0.534);
                                border-radius: 5px;
                                padding: 5px 0px;
                                label {
                                    border: 0 !important;
                                    background-color: transparent !important;
                                    &:hover {
                                        background-color: $mainColor !important;
                                    }
                                }
                            }
                        }
                        &.url {
                            position: relative;
                            input + i {
                                position: absolute;
                                top: 50%;
                                right: 25px;
                                transform: translateY(-50%);
                                cursor: pointer;
                            }
                        }
                    }
                }
                .compaign-data {
                    margin: 20px auto;
                    .compaign {
                        text-align: center;
                        margin: auto;
                        position: relative;
                        color: #000;
                        &::before,
                        &::after {
                            content: "";
                            width: calc(50% - 100px);
                            height: 2px;
                            background-color: #000;
                            position: absolute;
                            top: 50%;
                            left: 0%;
                            transform: translateY(-50%);
                        }
                        &::after {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }

        .comments-box {
            position: sticky;
            top: 0;
            // height: calc(100% - 50px);
            height: 100%;
            position: relative;
            .inner-con {
                background-color: $lightBlueMainColor;
                padding: 0px;
                border: 2px solid $lightBlueMainColor;
                height: calc(100% - 50px);
                position: static;
                .user-comment-con {
                    max-height: calc(100vh - 255px);
                    overflow-y: auto;
                    padding: 20px 10px 0px;
                    .user-comment {
                        display: flex;
                        margin-bottom: 25px;
                        .img-box {
                            margin-right: 15px;
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }
                        .comment-text {
                            width: 100%;
                            .top-content {
                                color: #7c7c7c;
                                font-size: 14px;
                                display: flex;
                                justify-content: space-between;
                            }
                            .bottom-box-content {
                                background: rgba(15, 178, 248, 0.15);
                                border-radius: 5px;
                                color: #7c7c7c;
                                padding: 10px 7px;
                                margin-top: 5px;
                                .User {
                                    color: $mainColor;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .reply-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 15px;
                    background-color: #fff;
                    padding: 20px 10px;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    .img img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                    .input-box {
                        width: 100%;
                        position: relative;
                        input , textarea {
                            width: 100%;
                            background: #edf2f6;
                            border: 1px solid rgba(7, 77, 209, 0.1);
                            border-radius: 5px;
                            padding: 7px 5px;
                            resize: none;
                        }
                        button {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}
